{% extends 'base.html' %}

{% block title %}About Us - EZI Phishing Detection{% endblock %}

{% block content %}
    <h1>About EZI</h1>
    <ul>
       <li>EZI is a Multi-Language Phishing Detection System.</li>
       <li>It will safeguard your browser and social media platforms such as Facebook, Instagram, etc. from phishing attempts.</li>
       <li>It will analyze and detect phishing attempts through SMS.</li>
    </ul>
    
    <h2>Key Features:</h2>
    <ul>
        <li>A phishing detection system will analyze text, links, URLs, and other content to detect suspicious patterns and anomalies, ultimately separating the real from the deceptive.</li>
        <li>Multi-language support (Urdu and English).</li>
    </ul>
{% endblock %}
