{% extends 'base.html' %}

{% load static %}  <!-- Load the static files here -->


{% block content %}
    <!-- Image and Text Section with Animation -->
    <div class="image-text-container ">
        <img src="{% static 'images/logo.png' %}"  style ="float: right; margin: 0px 0px 15px 15px;"  alt="Phishing Detection" class="animated-image">
        <h1 class="animated-text">A MULTI-LANGUAGE PHISHING DETECTION SYSTEM FOR SAFEGUARDING SOCIAL MEDIA AND WEB</h1>
    </div>

    <p>Select one of the following options to check for phishing threats:</p>

    <!-- Add a class for animated buttons -->
    <div class="detection-options animated-buttons">
        <a href="{% url 'keyword_phishing' %}" class="btn-detect">Keyword Phishing Detection</a>
        <a href="{% url 'url_phishing' %}" class="btn-detect">URL Phishing Detection</a>
        <a href="{% url 'real_time_phishing' %}" class="btn-detect">Real-Time Phishing Detection</a>
    </div>
   
{% endblock %}
