{% extends 'base.html' %}

{% block title %}Keyword Phishing Detection{% endblock %}

{% block content %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!-- keyword_phishing.html -->
<div class="key-container">
    <h1 class="page-title">Keyword Phishing Detection</h1>
    <form method="POST" class="phishkey-form">
        {% csrf_token %}
        <label for="text">Enter your text:</label>
        <textarea name="text" id="text" rows="4" cols="50" placeholder="Type your text here..."></textarea>
        <button type="submit" class="submit-btn">Check</button>
    </form>
<div class="result-wrapper">
    {% if result %}    
    <div class="result-container">
    <h2>Result: {{ result }}</h2>
    
    </div>{% if image_url %}
        <img src="{% static image_url %}" alt="Result Image">
    {% endif %}

    {% endif %}
   </div>
</div>
{% endblock %}
 