{% extends 'base.html' %}

{% load static %}  <!-- Add this line to load static files -->

{% block title %}Login - EZI Phishing Detection{% endblock %}

{% block content %}
  <!-- The popup login form -->
  <div class="form-container">
    <div id="myForm" class="form-popup">
      <form class="form-container">
        <h1>Login</h1>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  </div>

  
  <script src="{% static 'js/script.js' %}" defer></script>

{% endblock %}
